@charset "utf-8";

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: Menlo;
  font-size: 14px;
}

input {
  background: none;
  border: none;
  color: #FFF;
  display: inline;
  width: auto;
  margin-left: 10px;
}

.postit {
  border-radius: 6px;
  background: #C14543;
  color: #FFF;
  display: inline-block;
  min-width: 50px;
  overflow: hidden;
  /*padding: 4px 10px;*/
  padding: 0 5px 5px;
}

.handle {
  width: 100%;
  height: 15px;
  background: rgba(0,0,0,0);
  margin-bottom: 5px;
  border-bottom: 1px solid rgba(0,0,0,0.1);
}
.note {
  outline: none !important;
}
