!!!
%html{"ng-app" => true}

  %head
    %meta{:charset => "utf-8"}/
    %meta{:content => "IE=edge,chrome=1", "http-equiv" => "X-UA-Compatible"}/
    %title= data.page.title || "Todo4"
    = stylesheet_link_tag "normalize", "all"
    = javascript_include_tag  "//ajax.googleapis.com/ajax/libs/angularjs/1.0.6/angular.min.js", "//cdnjs.cloudflare.com/ajax/libs/jquery/2.0.0/jquery.min.js", "//cdnjs.cloudflare.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js", "all"

  %body{:class => page_classes, 'ng-controller' => 'window.TodosListController'}
    / %input{"ng-model" => "yourName", :placeholder => "Enter a name here", :type => "text"}/
    / %hr/
    / %h1 Hello{{yourName}}!
    = yield