---
title: Grid
---

#todos

  .postit
    .handle
    %span.note{contenteditable: 'true', spellcheck: 'false'} a

  .postit
    .handle
    %span.note{contenteditable: 'true', spellcheck: 'false'} b
